<div class="container">
  <div class="header-bar">
  </div>
  <div class="main-view"
  <form class="destinationForm">
    <div layout="row" layout-align="center center">
      <div class="">
        <md-input-container layout="column" layout-align="center center" ng-focus="destInput.searchForm.addressError = false" md-is-error="destInput.searchForm.addressError">
          <input type="text" id="destinationInput" ng-model="destInput.searchForm.address" name="" value="" placeholder="Destination">
        </md-input-container>
      </div>
    </div>
    <div layout="column" layout-align="center center">
      <div layout="row" layout-align="center center">
        <div flex>
          <md-content class="time-picker picker">
              <mdp-time-picker ng-model="destInput.searchForm.date"></mdp-time-picker>
          </md-content>

        </div>
        <div flex>
          <md-content class="date-picker picker" layout="row" layout-align="center center" flex>
            <md-datepicker ng-model="destInput.searchForm.date"></md-datepicker>
          </md-content>
        </div>


      </div>
    </div>

    <md-button class="md-primary" ng-click="destInput.setTripInfo()">
      <md-icon class="material-icons md-48">keyboard_arrow_right</md-icon>
    </md-button>
  </form>

  <md-content class="time-picker picker">
      <md-time-picker ng-model="destInput.searchForm.date"></md-time-picker>
  </md-content>


</div>
</div>
