<div class="container">
  <form class="destinationForm" ng-submit="destination.set(address)">
    <div layout="row">
      <div class="center">
      <md-input-container>
        <label for="destinationInput">Where are you going?</label>
        <input type="text" id="destinationInput" ng-model="destination.address" name="" value="" placeholder="Destination">
      </md-input-container>
    </div>
    </div>
    <div class="center">
    <div layout="row">
      <div layout="column">
        <div flex class="center">
          <md-content>
              <mdp-time-picker ng-model="destination.date"></mdp-time-picker>
            </md-content>
        </div>
      </div>
      <div flex>
        <md-content>
          <div>
            <mdp-date-picker ng-model="destination.dateInput" ng-change="destination.log(destination.dateInput)" md-placeholder="Enter date"></mdp-date-picker>
          </div>
        </md-content>
      </div>
    </div>
  </div>
    <input type="submit" value="Submit"></input>

  </form>
</div>
