<div class="container" ng-init="groupMap.fillMap(groupMap.respondees)">
  <div class="header-bar" layout="row" layout-align="center center">
    <h1>Group plan<h1>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
  <!-- <div class="main-view"> -->
  <div class="map-btn-container" layout="row" layout-align="center center">
    <md-button flex-xs="80" flex-sm="50" flex-md="25" flex-lg="20" flex-xl="15" class="md-raised md-primary" ng-click="groupMap.goTo('/groupPlan')">Details</md-button>
  </div>
    <!-- </div> -->
</div>
