<div class="container">
  <form ng-submit="friends.save()">
    <md-input-container>
      <input ng-model="friends.firstName" type="text" placeholder="First name">
    </md-input-container>
    <md-input-container>
      <input ng-model="friends.lastName" type="text" placeholder="Last name">
    </md-input-container>
    <md-input-container>
      <input ng-model="friends.email" type="text" placeholder="Email address">
    </md-input-container>
    <md-input-container>
      <input type="submit" value="Submit">
    </md-input-container>
  </form>
</div>
