<div class="container">
  <form class="originForm">
    <div layout="row">
      <div class="">
      <md-input-container>
        <input type="text" id="originInput" ng-model="originInput.searchForm.address" placeholder="Where are you coming from?">
      </md-input-container>
    </div>
    </div>
    <div class="center">

      <div layout="column" layout-align="center center">
        <div layout="row" layout-wrap>
        <div flex>
          <md-content>
              <mdp-time-picker ng-model="originInput.searchForm.date"></mdp-time-picker>
            </md-content>
      <div flex>
        <md-content>
          <div>
            <mdp-date-picker ng-model="originInput.searchForm.date" md-placeholder="Enter date"></mdp-date-picker>
          </div>
        </md-content>
      </div>


  <md-button class="md-primary" ng-click="originInput.setOrigin()">
    <md-icon class="material-icons md-48">keyboard_arrow_right</md-icon>
  </md-button>

</div>
</div>
    </div>
  </div>
    </form>
</div>
