#map {
    /*height: 500px;
    width: 400px;
    box-shadow: 3px 3px 10px gray;*/
    height: 100%;
    width: 100%;
    z-index: 1;
}

#indiv-map {
    /*height: 500px;
    width: 400px;
    box-shadow: 3px 3px 10px gray;*/
    height: 100%;
    width: 100%;
    z-index: 1;
}

.map-container {
  /*overflow: hidden;*/
  height: 66vh;
  width: 100vw;
}

.map-btn-container {
  height: 16.5vh;
  width: 100vw;
  /*padding: 0 20px 20px 0;*/
}

.header-bar {
  background-color: darkseagreen;
  height: 16.5vh;
  width: 100vw;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: 'Varela Round', sans-serif;*/
  /*font-family: 'Pacifico', cursive;*/
  font-size: 18px;
  opacity: 1;
  z-index: 500;
}

/*.fixed-btn-container {
  position: fixed;
  bottom: 0;
}*/

.signpost {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Varela Round', sans-serif;
}

.container {
  min-height: 100%;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 54px;
  text-align: center;
  color: darkseagreen;
}

.material-icons {
  fill: inherit;
}

.warn-error {
  font-size: 12px;
  color: red;
  fill: red;
}

.warn-icon {
  fill: red;
}

.main-view{
  padding : 20px;
  font-size: 20px;
  top: 0px;
  /*font-family: 'Varela Round', sans-serif;*/
}

.group-summary {
  text-align: center;
}

.instructions {
  padding: 10px 0 10px 0;
}

.picker {
  font-size: 14px;
  /*min-width: 150px;*/
}

.location-input{
  width: 800px;
}

.full {
  height:100%
}

.center {
  margin: 0 auto;
}

.darkseagreen {
  background-color: darkseagreen;
}

.block {
  display: inline-block;
}

.picker {
  height: 75px;
  width:  140px;
}

.friend-card:hover {
  cursor: pointer;
}

.card {
  background-color: #FAFAFA;
  color: darkseagreen;
  /*font-family: 'Varela Round', sans-serif;*/
  fill: darkseagreen;
  font-size: 14px;
  text-transform: uppercase;
}

.plus-button {
  fill: #FFC107;
}

.button-container {
  padding: 0;
  margin: 0;
  width: 100%
}

.new-friend {
  padding: 10px 0 10px 0;
}

/*.step .card {
  padding: 10px;
}*/

/*h1 {
  color: salmon;
}*/
