/*.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #333333;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}



.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}*/

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 64px;
}

.material-icons {
  fill: inherit;
}

.warn-error {
  font-size: 12px;
  color: red;
  fill: red;
}

.warn-icon {
  fill: red;
}

.header-bar {
  background-color: black;
  height: 100px;
  color: linen;
  opacity: 0.5;
}

.main-view{
  padding : 20px;
  font-size: 22px;
  min-height: 100%;
  /*font-family: 'Varela Round', sans-serif;*/
}

.picker {
  font-size: 14px;
  /*min-width: 150px;*/
}

.location-input{
  width: 800px;
}

.full {
  height:100%
}

.center {
  margin: 0 auto;
}

.salmon {
  background-color: salmon;
}

.blanchedalmond {
  background-color: blanchedalmond;
}

.chartreuse {
  background-color: chartreuse;
}

.darkseagreen {
  background-color: darkseagreen;
}

.block {
  display: inline-block;
}

.picker {
  height: 75px;
  width:  140px;
}



/*h1 {
  color: salmon;
}*/
