<div class="container">
  <div class="header-bar" layout="row" layout-align="center center">
    <h1>Add friends<h1>
  </div>
  <div class="main-view">
    <div layout="row" layout-align="center center" ng-repeat="friend in friends.peopleArray" >
  <md-card flex="80" class="card">
    <div ng-click="friends.addOriginFor(friend)" layout="row" layout-align="space-around center"  class="friend-card">
      <div>
      <i class="material-icons">mode_edit</i>
    </div>
    <div>
      <p>{{friend.getShortName()}}</p>
    </div>
    <div>
      <i class="material-icons">clear</i>
    </div>

  </div>
    </md-card>
  </div>
  <div layout="row" layout-align="center center">
  <md-button flex-xs="80" flex-sm="50" flex-md="25" flex-lg="20" flex-xl="15" flex-gt-class="md-raised" ng-click="friends.goTo('/newFriend')">
    <md-icon class="material-icons md-48 plus-button">add</md-icon>
  </md-button>

</div>
<div layout="row" layout-align="center center">
  <md-button flex="80" class="md-primary md-raised" ng-click="friends.goTo('/groupPlan')">Done adding friends</md-button>
</div>
</div>
</div>
