<div class="container">
  <div class="header-bar" layout="row" layout-align="center center">
    <h1>Destination<h1>
  </div>
  <div class="main-view">
    <div layout="column" layout-align="center center"  ng-if="destInput.searchForm.errorMessage != ''">
      <md-content class="warn-error" layout="row" layout-align="center center">
      <div>
          <i class="warn-icon material-icons">error</i>
      </div>
      <div>
          <p>{{destInput.searchForm.errorMessage}}</p>
        </div>
      </div>
      </md-content>
    <div>
  <form class="destinationForm">
    <div layout="row" layout-align="center center">
      <div class="">
        <md-input-container layout="column" layout-align="center center" ng-focus="destInput.searchForm.addressError = false" md-is-error="destInput.searchForm.addressError">
          <label for="destInput">Going to...</label>
          <input type="text" id="destinationInput" ng-model="destInput.searchForm.address" name="" value="">
        </md-input-container>
      </div>
    </div>
    <div layout="column" layout-align="center center">
      <div ng-hide="true" layout="row" layout-align="center center">
        <div flex>
          <md-content class="time-picker picker">
              <mdp-time-picker ng-model="destInput.searchForm.date"></mdp-time-picker>
          </md-content>

        </div>
        <div flex>
          <md-content class="date-picker picker" layout="row" layout-align="center center" flex>
            <md-datepicker ng-model="destInput.searchForm.date"></md-datepicker>
          </md-content>
        </div>

      </div>
    </div>

    <div layout="row" layout-align="center center">
      <md-button flex-xs="80" flex-sm="50" flex-md="25" flex-gt-md="10"  class="md-primary md-raised" ng-click="destInput.setInfoAndAdvance()">
        <md-icon class="material-icons md-48">keyboard_arrow_right</md-icon>
      </md-button>
    </div>
  </form>
</div>
</div>
</div>
