<div class="container">
  <div class="header-bar" layout="row" layout-align="center center" sticky>
    <h1>{{indivDetails.firstName}}'s route<h1>
    </div>
    <div class="main-view">
      <div layout="row" layout-align="center center">
        <h2><b>Leave at </b>{{indivDetails.route.getDepartureTime('text')}}</h2>
      </div>


      <div layout="row" layout-align="center center" ng-repeat="step in indivDetails.steps" >
        <md-card flex="90" class="step card">
          <md-content ng-show="step.getMode() === 'TRANSIT'">
            <div layout="row" layout-align="start center">
              <div>
                <i class="material-icons">{{indivDetails.chooseIcon(step)}}</i>
              </div>
              <div>
                <div><b>{{step.getRouteName()}}</b></div>
              </div>
            </div>
            <div>
              <div><b>{{step.getDepartureTime()}}</b></div>
              <div><b>Leave from </b>{{step.getDepartureStop()}}</div>
            </div>
            <div>
              <div><b>{{step.getArrivalTime()}}</b></div>
              <div><b>Arrive at </b>{{step.getArrivalStop()}}</div>
            </div>

          </md-content>

          <md-content ng-show="step.getMode() === 'WALKING'">
            <div layout="row" layout-align="start center">
              <div>
                <i class="material-icons">{{indivDetails.chooseIcon(step)}}</i>
              </div>
              <div>
                <div><b>{{step.getDuration('text')}}</b></div>
              </div>
            </div>
            <div>
              <div>{{step.getInstructions()}}</div>
            </div>

          </md-content>


        </md-card>
      </div>
    <div layout="row" layout-align="center center">
      <h2><b>Arrive at </b>{{indivDetails.route.getArrivalTime('text')}}</h2>
    </div>
    <div class="fixed-btn-container" layout="row" layout-align="center center">
      <md-button flex="80" class="md-raised" ng-click="indivDetails.goToGroupPlan()">Group plan</md-button>
    </div>
    <div class="fixed-btn-container" layout="row" layout-align="center center">
      <md-button flex="80" class="md-raised md-primary" ng-click="indivDetails.goToMap()">Map</md-button>
    </div>

    </div>
  </div>
