<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Meet Me on the Bus</title>

  <!-- <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" /> -->
  <link rel="stylesheet" href="vendors/angular-material/angular-material.css">
  <link rel="stylesheet" href="vendors/mdPickers/mdPickers.css">
  <!-- <link rel="stylesheet" href="styles/style.css" /> -->

  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendors/angular-date-picker/angular-date-picker.js"></script>
    <script type="text/javascript" src="vendors/mdPickers/mdPickers.js"></script>
  <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="vendors/moment/moment.js"></script>
  <script type="text/javascript" src="vendors/angular-moment/angular-moment.min.js"></script>
  <script type="text/javascript" src="vendors/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="vendors/angular-messages/angular-messages.js"></script>
  <script type="text/javascript" src="vendors/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="vendors/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="vendors/angular-material/modules/js/datepicker/datepicker.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>
  <script type="text/javascript" src="scripts/factories/UserService.js"></script>
  <script type="text/javascript" src="scripts/controllers/loginController.js"></script>
  <script type="text/javascript" src="scripts/controllers/destinationController.js"></script>



</head>
<body>
  <div class="container" ng-view>
  </div>
</body>
</html>
