<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meet Me on the Bus</title>

  <!-- STYLESHEETS -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="vendors/angular-material/angular-material.css">
  <link rel="stylesheet" href="vendors/mdPickers/mdPickers.css">
  <!-- <link rel="stylesheet" href="vendors/angular-material-icons/angular-material-icons.css"> -->
  <link rel="stylesheet" href="vendors/timePicker/md-time-picker.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- VENDOR SCRIPTS -->

  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendors/mdPickers/mdPickers.js"></script>
  <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="vendors/moment/moment.js"></script>
  <script type="text/javascript" src="vendors/angular-moment/angular-moment.min.js"></script>
  <script type="text/javascript" src="vendors/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="vendors/angular-messages/angular-messages.js"></script>
  <script type="text/javascript" src="vendors/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="vendors/angular-animate/angular-animate.js"></script>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyC1z0jkEeeLyD8_ly3-X78LNSrfffXvaf0&libraries=geometry&sensor=false"></script>

  <!-- CLIENT SCRIPTS-->

  <!-- client -->
  <script type="text/javascript" src="scripts/client.js"></script>

  <!-- classes -->
  <script type="text/javascript" src="scripts/classes/Location.js"></script>
  <script type="text/javascript" src="scripts/classes/PeopleManager.js"></script>
  <script type="text/javascript" src="scripts/classes/Person.js"></script>
  <script type="text/javascript" src="scripts/classes/Route.js"></script>
  <script type="text/javascript" src="scripts/classes/SearchForm.js"></script>
  <script type="text/javascript" src="scripts/classes/Step.js"></script>
  <script type="text/javascript" src="scripts/classes/Trip.js"></script>
  <script type="text/javascript" src="scripts/classes/TripManager.js"></script>
  <script type="text/javascript" src="scripts/classes/Utilities.js"></script>

  <!-- controllers -->
  <script type="text/javascript" src="scripts/controllers/groupPlanController.js"></script>
  <script type="text/javascript" src="scripts/controllers/groupMapController.js"></script>
  <script type="text/javascript" src="scripts/controllers/activateController.js"></script>
  <script type="text/javascript" src="scripts/controllers/friendsController.js"></script>
  <script type="text/javascript" src="scripts/controllers/destInputController.js"></script>
  <script type="text/javascript" src="scripts/controllers/indivDetailsController.js"></script>
  <script type="text/javascript" src="scripts/controllers/indivMapController.js"></script>
  <script type="text/javascript" src="scripts/controllers/originInputController.js"></script>
  <script type="text/javascript" src="scripts/controllers/loginController.js"></script>

  <!-- factories -->
  <script type="text/javascript" src="scripts/factories/PersonService.js"></script>
  <script type="text/javascript" src="scripts/factories/TripService.js"></script>
  <script type="text/javascript" src="scripts/factories/UserService.js"></script>

  <!-- settings -->
  <script type="text/javascript" src="scripts/data/settings.js"></script>




</head>
<body>
  <div class="container" ng-view>
  </div>
</body>
</html>
